@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor-primaria: #E5E5E5;
    --cor-secundaria: #0A3871;
    --cor-terciaria: #ffffff;
    --cor--quartenaria: #343A40;

    --fonte-primaria: "Inter", sans-serif;
    --fonte-secundaria: "Roboto", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
}

.cabecalho{
    position: absolute;
    padding: 4.25rem 4.125rem;
    width: 10%;
}

    .cabecalho_logo{
        max-height: 3.125rem;
    }

.secao{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    padding: 5% 25%;
    gap: 40px;
}

    .secao-texto{
        font-family: var(--fonte-primaria);
        width: 900px;
        height: 900px;
    }

        textarea{
            border: none;
            padding: 0;
            margin: 0;
            outline: none;
            resize: none; 
            background:transparent;
            width: 100%;
            height: 50%;
        }

        .secao-texto textarea, .secao-texto textarea::placeholder{
            font-family: var(--fonte-primaria);
            font-size: 32px;
            color: #0A3871;
            text-decoration: none;
        }

    .secao-texto-aviso{
        display: flex;
        justify-content: left;
        gap: 8px;
        color: var(--cor--quartenaria);
        margin-bottom: 15px;
    }
        .secao-texto-aviso img{
            width: 16px;
            height: 16px;
        }

    .secao-texto-funcao{
        display: flex;
        gap: 24px;
    }

        .secao-texto-funcao-criptografia {
            color: var(--cor-terciaria);
            background-color: var(--cor-secundaria);
            border: 2px solid var(--cor-secundaria);
            display: flex;
            justify-content: center;
            width: 328px;
            border-radius: 24px;
            padding: 21.5px 0;
            font-family: var(--fonte-secundaria);
            text-align: center;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 400;
        }

            button[disabled] {
                pointer-events: none;
                background-color: transparent;
                color: var(--cor-secundaria);
                text-decoration: none;
            }

    .secao-mensagem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 400px;
        height: 700px;
        border-radius: 32px;
        background-color: var(--cor-terciaria);
        color: var(--cor--quartenaria);
        padding: 50px;
        font-family: var(--fonte-primaria);
    }

        .secao-mensagem-texto{
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 25px;
        }

        .secao-mensagem a{
            margin-top: 50px;
        }

        /* .secao-mensagem .secao-texto-funcao-criptografia{
            visibility: hidden;
        } */

        .secao-mensagem-texto-script textarea{
            text-align:justify;
            font-family: var(--fonte-primaria);
            font-size: 32px;
            color: #495057;
            text-decoration: none;
        }

.rodape {
    padding: 10px;
    color: var(--cor-secundaria); 
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;
}
